# Core functionality - changes here should be rare!
/src/app.py                   @jaguilar-acc
/src/backend/database.py      @jaguilar-acc
/src/backend/routers/auth.py  @jaguilar-acc

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jaguilar-acc
